params {
    input = 'test/mini/isolates.tsv'
    outdir = 'results'
    benchdir = 'benchmark'
}

process {
    // debug = true
    withName: 'summarise|hamronize' {
        container = 'ghcr.io/zwets/hamronization:latest'
        cpus = 1
    }
    withName: 'amrfinderplus' {
        container = 'docker.io/ncbi/amr:4.0.23-2025-07-16.1'
        cpus = 4
    }
    withName: 'resfinder' {
        container = 'docker.io/genomicepidemiology/resfinder:4.7.2'
        cpus = 1
    }
    withName: 'rgi' {
        container = 'quay.io/biocontainers/rgi:6.0.5--pyh05cac1d_0'
        cpus = 8
    }
}

profiles {
    standard {
        process.executor = 'local'
        podman.enabled = true
        process.'withName:resfinder'.containerOptions = '--entrypoint ""'
    }
    apptainer {
        apptainer.enabled = true
    }
    singularity {
        apptainer.enabled = true
    }
    podman {
        podman.enabled = true
        process.'withName:resfinder'.containerOptions = '--entrypoint ""'
    }
    docker {
        docker.enabled = true
        docker.runOptions = "--user \$(id -u):\$(id -g)"
        process.'withName:resfinder'.containerOptions = '--entrypoint ""'
    }
}

plugins {
  // For samplesheetToList (unused)
  // id 'nf-schema@2.5.1'
}

timeline {
  enabled = true
  file = "${params.benchdir}/timeline.html"
  overwrite = true
}
report {
  enabled = false
  file = "${params.benchdir}/report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.benchdir}/trace.txt"
  overwrite = true
}

