// nextflow.config

params {
    benchdir = 'benchmarks'
}

// Configure processes
process {
    // debug = true
    withName: 'summarise|hamronize' {
        container = 'ghcr.io/zwets/hamronization:latest'
        cpus = 1; time = '1m'; memory = '500M'
        executor = 'local'
    }
    withName: 'amrfinderplus' {
        container = 'docker.io/ncbi/amr:4.2.7-2026-01-21.1'
        cpus = 4; time = '2m'; memory = '500M'
    }
    withName: 'resfinder' {
        container = 'docker.io/genomicepidemiology/resfinder:4.7.2'
        // (see below) containerOptions = '--entrypoint ""'
        cpus = 1; time = '2m'; memory = '500M'
    }
    withName: 'rgi' {
        container = 'quay.io/biocontainers/rgi:6.0.5--pyh05cac1d_0'
        cpus = 8; time = '5m'; memory = '1G'
    }
}

profiles {
    standard {
        process.executor = 'local'
        //apptainer.enabled = true
    }
    slurm {
        process.executor = 'slurm'
    }
    apptainer {
        apptainer.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
    // Podman and docker need to override resfinder's forced entrypoint, as
    // Nextflow needs access to the bash in the container.  We would put the
    // containerOptions in the process definitions above, except that breaks
    // apptainer and singularity who do not have the --entrypoint parameter
    podman {
        podman.enabled = true
        process.'withName:resfinder'.containerOptions = '--entrypoint ""'
    }
    docker {
        docker.enabled = true
        docker.runOptions = "--user \$(id -u):\$(id -g)"
        process.'withName:resfinder'.containerOptions = '--entrypoint ""'
    }
}

plugins {
  // For samplesheetToList (unused)
  // id 'nf-schema@2.5.1'
}

timeline {
  enabled = true
  file = "${params.benchdir}/timeline.html"
  overwrite = true
}
report {
  enabled = false
  file = "${params.benchdir}/report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.benchdir}/trace.txt"
  overwrite = true
}

