params {
    input = 'test/mini/isolates.tsv'
    outdir = 'results'
}

plugins {
    // For samplesheetToList (unused)
    // id 'nf-schema@2.5.1'
}

process {
    // debug = true
    withName: 'summarise|hamronize' {
        // container = 'ghcr.io/zwets/hamronization:1.1.10'
        // containerOptions = '--entrypoint ""'
    }
    withName: 'amrfinderplus' {
        // container = 'docker.io/ncbi/amr:4.0.23-2025-07-16.1'
    }
    withName: 'resfinder' {
        // container = 'docker.io/genomicepidemiology/resfinder:4.7.2'
        // containerOptions = '--entrypoint ""'
    }
    withName: 'rgi' {
        // container = 'quay.io/biocontainers/rgi:6.0.5--pyh05cac1d_0'
    }
}

podman {
    enabled = true
}

conda {
    enabled = true
}

